main {
    height: 100vh;
  
    .aside-compte {
      float: left;
      height: 130vh;
      width: 25%;
      margin-right: 2rem;
      background-color: $lightBlack;
      color: $white;
      position: relative;
      text-align: center;
      padding-top: 5vh;
  
      h3 {
        padding-top: 5vh;
        padding-bottom: 5vh;
      }
    }
  }

  @media (max-width: 800px) {
    .aside-compte {
      display: none;
    }
  }
  