footer {
  background-color: #3B3D3F;
  padding: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;




  .copyright {
    text-align: center;
    font-size: 12px;
    color: $lightGrey;

    & a {
      color: $lightGrey;
    }
  }
}
